importFrom(dummies,dummy.data.frame)
importFrom(h2o,as.h2o,as.factor,h2o.splitFrame,h2o.assign,h2o.gbm,h2o.randomForest,h2o.varimp,h2o.grid,h2o.getModel,h2o.performance,h2o.getGrid,h2o.metric)
importFrom(DMwR,SMOTE)
importFrom(dplyr,arrange)
importFrom(ggplot2,ggplot)
importFrom(pROC,roc)
export(splits_selection)
export(APML)
export(datatrans)
export(expl_rr)
export(outCI)
export(uncertainty)